<div class="row">
    <div class="col-12 header-login">
        <h3>Recuperação de senha</h3>
    </div>

    <form class="col-12" autocomplete="off">

        <mat-form-field>
            <mat-label>Usuário</mat-label>
            <input name="password" placeholder="Insira seu e-mail aqui" matInput />
        </mat-form-field>

        <button class="col-12" type="submit" class="btn-submit" mat-stroked-button>
            Confirmar
        </button>
    </form>

    <a type="button" class="col-12 col-lg-6" [routerLink]="['/security/auth']" style="text-align: center;">
        Login
    </a>

    <a class="col-12 col-lg-6" [routerLink]="['/']" style="text-align: center;">
        Voltar ao inicio
    </a>
</div>