form {
    height: 100%;
}

.space-input {
    margin-top: 10px;
}

button {
    color: #fff;
    border: solid 1px #fff !important;
    background-color: #2194f3;
}

.header-login{
    margin-top: 10px;
    text-align: center;
    display: flex;
}

.header-login h3 {
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
}

.header-login img {
    height: 50px;
    width: 50px;
}

a {
    color: #fff;
}