<app-navbar class="fixed-top"></app-navbar>
<mat-drawer-container>
    <mat-drawer-content>
        <div class="container-box">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>

    <mat-drawer mode="side" [opened]="this.sharedService.openedSidebarMenu" position="start">
        <app-widget-sidebar-menu></app-widget-sidebar-menu>
    </mat-drawer>
</mat-drawer-container>
<app-footer class="fixed-bottom"></app-footer>

<app-messages></app-messages>
<app-spinner></app-spinner>