<div class="row">
    <div class="col-12 header-login">
        <h3>Recuperação de senha</h3>
    </div>

    <form class="col-12" autocomplete="off">
        <mat-form-field>
            <mat-label>Código</mat-label>
            <input name="code" placeholder="Insira seu e-mail aqui" matInput />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Senha</mat-label>
            <input name="password" placeholder="Insira seu senha aqui" matInput />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Cofirmar Senha</mat-label>
            <input name="passwordConfirm" placeholder="Repita sua senha aqui" matInput />
        </mat-form-field>

        <button class="col-12" type="submit" class="btn-submit" mat-stroked-button>
            Confirmar
        </button>
    </form>
</div>