<div class="row">
    <div class="col-12 header-login">
        <h3>Autenticação</h3>
    </div>

    <form class="col-12" autocomplete="off" [formGroup]="this.form" (ngSubmit)="this.auth()">
        <mat-form-field>
            <mat-label>Usuário</mat-label>
            <input name="mail" formControlName="mail" [(ngModel)]="this.entity.mail"
                placeholder="Insira seu e-mail aqui" matInput />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Senha</mat-label>
            <input type="password" name="password" formControlName="password" [(ngModel)]="this.entity.password"
                placeholder="Insira sua senha aqui" matInput />
        </mat-form-field>

        <button class="col-12" type="submit" class="btn-submit" mat-stroked-button>
            Confirmar
        </button>
    </form>

    <a href="#" class="col-12" routerLinkActive="list-item-active" [routerLink]="['/security/forgot/password']">
        Esqueceu sua senha?
    </a>
</div>