<form class="row" autocomplete="off" [formGroup]="this.form" (ngSubmit)="this.onSubmit()">
    <!-- <app-input-field class="col-12 col-md-2 p-fluid" formControlName="id" id="id" [control]="this.form.get('id')"
        label="Código"></app-input-field> -->
    <div class="col-12 col-md-2 p-fluid">
        <label>Código</label>
        <span class="p-input-icon-right">
            <input name="id" formControlName="id" [(ngModel)]="this.data.id" type="text" pInputText>
        </span>
    </div>

    <!-- <app-input-field class="col-12 col-md-4 p-fluid" formControlName="name" id="name" [control]="this.form.get('name')"
        label="Nome" [classeCss]="this.coreService.aplicaCssErro(this.form.get('name'))" placeholder="Inserir nome do usuário"></app-input-field> -->
    <div class="col-12 col-md-4 p-fluid" [ngClass]="this.coreService.aplicaCssErro(this.form.get('name'))">
        <label>Nome</label>
        <span class="p-input-icon-right">
            <input name="name" formControlName="name" [(ngModel)]="this.data.name"
                [ngClass]="this.coreService.aplicaCssErro(this.form.get('name'))" type="text" placeholder="Inserir nome do usuário" pInputText>
            <i class="pi pi-times" style="color: #F44336;" *ngIf="this.coreService.validField(this.form.get('name'))"></i>
        </span>
        <app-message-control type="error" message="Campo Sobrenome obrigatório!"
            *ngIf="this.coreService.validField(this.form.get('lastName'))"></app-message-control>
    </div>
    
    <div class="col-12 col-md-6 p-fluid" [ngClass]="this.coreService.aplicaCssErro(this.form.get('lastName'))">
        <label>Sobrenome</label>
        <span class="p-input-icon-right">
            <input name="lastName" formControlName="lastName" [(ngModel)]="this.data.lastName"
                [ngClass]="this.coreService.aplicaCssErro(this.form.get('lastName'))" type="text"
                placeholder="Inserir sobrenome do usuário" pInputText>
            <i class="pi pi-times" style="color: #F44336;"
                *ngIf="this.coreService.validField(this.form.get('lastName'))"></i>
        </span>
        <app-message-control type="error" message="Campo Sobrenome obrigatório!"
            *ngIf="this.coreService.validField(this.form.get('lastName'))"></app-message-control>
    </div>

    <div class="col-12 col-md-8 p-fluid" [ngClass]="this.coreService.aplicaCssErro(this.form.get('mail'))">
        <label>E-mail</label>
        <span class="p-input-icon-right">
            <input name="mail" formControlName="mail" [(ngModel)]="this.data.mail"
                [ngClass]="this.coreService.aplicaCssErro(this.form.get('mail'))" type="text"
                placeholder="Inserir e-mail do usuário" pInputText>
            <i class="pi pi-times" style="color: #F44336;"
                *ngIf="this.coreService.validField(this.form.get('mail'))"></i>
        </span>
        <app-message-control type="error" message="Campo E-mail obrigatório!"
            *ngIf="this.coreService.validField(this.form.get('mail'))"></app-message-control>
    </div>

    <div class="col-12 col-md-2 p-fluid" [ngClass]="this.coreService.aplicaCssErro(this.form.get('nuCellPhone'))">
        <label>Celular</label>
        <span class="p-input-icon-right">
            <p-inputMask name="nuCellPhone" formControlName="nuCellPhone" [(ngModel)]="this.data.nuCellPhone"
                mask="(99) 99999-9999" placeholder="(99) 99999-9999"
                [ngClass]="this.coreService.aplicaCssErro(this.form.get('nuCellPhone'))"></p-inputMask>
            <i class="pi pi-times" style="color: #F44336;"
                *ngIf="this.coreService.validField(this.form.get('nuCellPhone'))"></i>
        </span>
        <app-message-control type="error" message="Campo Celular obrigatório!"
            *ngIf="this.coreService.validField(this.form.get('nuCellPhone'))"></app-message-control>
    </div>

    <!-- <div class="col-12 col-md-3 p-fluid" [ngClass]="this.coreService.aplicaCssErro(this.form.get('password'))">
        <label>Senha</label>
        <span class="p-input-icon-right">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <p-checkbox name="isValidPassword" formControlName="isValidPassword"
                        [(ngModel)]="this.isValidPassword" [binary]="true" inputId="binary"
                        (onChange)="this.onChangedValidPassword(this.form)"></p-checkbox>
                </span>
                <input name="password" formControlName="password" [(ngModel)]="this.data.password"
                    [type]="this.isVisablePassword ? 'text' : 'password'" placeholder="Inserir senha"
                    [ngClass]="this.coreService.aplicaCssErro(this.form.get('password'))" pInputText>
                <button type="button" (click)="this.clickVisablePassword()"
                    [icon]="this.isVisablePassword ? 'pi pi-eye-slash' : 'pi pi-eye'" [disabled]="this.isValidPassword"
                    pButton pRipple></button>
            </div>
            <i class="pi pi-times" style="color: #F44336;"
                *ngIf="this.coreService.validField(this.form.get('password'))"></i>
        </span>
        <app-message-control type="error" message="Campo Senha obrigatório!"
            *ngIf="this.coreService.validField(this.form.get('password'))"></app-message-control>
    </div> -->

    <!-- <div class="col-12 col-md-3 p-fluid " [ngClass]="this.coreService.aplicaCssErro(this.form.get('roles'))">
        <label>Permissões</label>
        <p-multiSelect name="roles" formControlName="roles" [(ngModel)]="this.data.roles" [options]="this.listRole"
            [filter]="true" [ngClass]="this.coreService.aplicaCssErro(this.form.get('roles'))"
            defaultLabel="Selecionar permissões" optionLabel="name" appendTo="body"></p-multiSelect>
        <app-message-control type="error" message="Selecione pelo menos uma permissão!"
            *ngIf="(this.coreService.validField(this.form.get('roles')))"></app-message-control>
    </div> -->

    <div class="col-12 col-md-2 p-fluid">
        <label>Código Desbloqueio</label>
        <input name="codeDesblock" formControlName="codeDesblock" [(ngModel)]="this.data.codeDesblock" type="text"
            placeholder="Código desbloqueio" pInputText>
    </div>

    <div class="col-12 col-md-2 p-fluid">
        <label>Bloqueado</label>
        <p-selectButton name="isBlock" formControlName="isBlock" [(ngModel)]="this.data.isBlock"
            [options]="this.coreService.listOptionYesOrNo" optionLabel="name" optionValue="value">
        </p-selectButton>
    </div>

    <div class="col-12 col-md-2 p-fluid">
        <label>Ativo</label>
        <p-selectButton name="isActive" formControlName="isActive" [(ngModel)]="this.data.isActive"
            [options]="this.coreService.listOptionYesOrNo" optionLabel="name" optionValue="value">
        </p-selectButton>
    </div>

    <div class="col-12 col-md-3 p-fluid">
        <label>Criação</label>
        <p-calendar name="dtCreation" formControlName="dtCreation" [(ngModel)]="this.data.dtCreation"
            dateFormat="dd/mm/yy" [showIcon]="true" [showTime]="true" [showSeconds]="true"></p-calendar>
    </div>

    <div class="col-12 col-md-3 p-fluid">
        <label>Última atualização</label>
        <p-calendar name="dtLastUpdate" formControlName="dtLastUpdate" [(ngModel)]="this.data.dtLastUpdate"
            dateFormat="dd/mm/yy" [showIcon]="true" [showTime]="true" [showSeconds]="true"></p-calendar>
    </div>

    <!-- <div class="col-12 col-md-3 p-fluid">
        <label>Data Último Bloqueio</label>
        <p-calendar name="dtLastBlock" formControlName="dtLastBlock" [(ngModel)]="this.data.dtLastBlock"
            dateFormat="dd/mm/yy" [showIcon]="true" [showTime]="true" [showSeconds]="true"></p-calendar>
    </div>

    <div class="col-12 col-md-3 p-fluid">
        <label>Data Último Desbloqueio</label>
        <p-calendar name="dtLastDesblock" formControlName="dtLastDesblock" [(ngModel)]="this.data.dtLastDesblock"
            dateFormat="dd/mm/yy" [showIcon]="true" [showTime]="true" [showSeconds]="true"></p-calendar>
    </div> -->

    <div class="col-12">
        <button pButton pRipple type="submit" class="p-button-outlined p-button-success" icon="pi pi-check"
            [label]="(this.data.id != null) ? 'Atualizar' : 'Inserir'"></button>
        <button pButton pRipple type="button" class="p-button-outlined p-button-danger" icon="pi pi-cancel"
            (click)="this.cancelPersist()" label="Cancelar"></button>
    </div>
</form>