<button mat-button type="button" (click)="this.sharedService.toggleSidebarUser()" *ngIf="this.securityService.hasUserAuth">
    <mat-icon>people</mat-icon>
    {{this.securityService.userSession?.user.name}}
</button>

<button mat-icon-button type="button" *ngIf="this.securityService.hasUserAuth">
    <mat-icon>shopping_cart</mat-icon>            
</button>

<button mat-icon-button type="button" *ngIf="this.securityService.hasUserAuth">
    <mat-icon>chat</mat-icon>            
</button>

<button mat-icon-button type="button" *ngIf="this.securityService.hasUserAuth">
    <mat-icon>notifications</mat-icon>      
</button>

<button mat-icon-button type="button" (click)="this.securityService.loggout()" *ngIf="this.securityService.hasUserAuth">    
    <mat-icon>logout</mat-icon>
</button>

<button mat-button type="button" [routerLink]="['/security','auth']" *ngIf="(!this.securityService.hasUserAuth)">
    <mat-icon>login</mat-icon>
    Login
</button>