<div class="row">
    <div class="col-12 header-login">
        <h3>Criar conta</h3>
    </div>

    <form class="col-12" autocomplete="off" [formGroup]="this.form" (ngSubmit)="this.insert()">
        <mat-form-field>
            <mat-label>Nome</mat-label>
            <input name="name" formControlName="name" [(ngModel)]="this.entity.name" placeholder="Insira seu nome aqui"
                matInput />
        </mat-form-field>

        <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input name="mail" formControlName="mail" [(ngModel)]="this.entity.mail"
                placeholder="Insira seu e-mail aqui" matInput />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Celular</mat-label>
            <input name="phone" formControlName="phone" [(ngModel)]="this.entity.phone"
                placeholder="Insira seu celular aqui" matInput />
        </mat-form-field>

        <button class="col-12" type="submit" class="btn-submit" mat-stroked-button>
            Confirmar
        </button>
    </form>
</div>