html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.row {
  margin: auto;
}

.label-checkbox {
  display: unset;
  margin-top: 10px;
  margin-left: 5px;
}

.header {
  text-align: center;
  color: black;
  text-shadow: rgba(0, 0, 0, 0.8) 0.1em 0.1em 0.1em;
}

.mat-tab-labels {
  background-color: white;
}

.mat-tab-links {
  background-color: #2194f3;
}

.mat-form-field {
  width: 100% !important;
}