<div class="row">
    <div class="col-12 col-md-3 p-fluid">
        <label>Código</label>
        <input name="id" type="text" pInputText [(ngModel)]="this.data.id" disabled>
    </div>

    <div class="col-12 col-md-3 p-fluid">
        <label>Criação</label>
        <p-calendar name="dtCreation" [(ngModel)]="this.data.dtCreation" dateFormat="dd/mm/yy" 
        [showIcon]="true" [showTime]="true" [showSeconds]="true" disabled></p-calendar>
    </div>

    <div class="col-12 col-md-3 p-fluid">
        <label>Última atualização</label>
        <p-calendar name="dtLastUpdate" [(ngModel)]="this.data.dtLastUpdate" dateFormat="dd/mm/yy" 
        [showIcon]="true" [showTime]="true" [showSeconds]="true" disabled></p-calendar>
    </div>

    <div class="col-12 col-md-3 p-fluid">
        <label></label>
        <p-selectButton name="isActive" [options]="this.listActive" [(ngModel)]="this.data.isActive" optionLabel="name"
            optionValue="value"></p-selectButton>
    </div>

    <div class="col-12">
        <button pButton pRipple type="button" class="p-button-outlined p-button-success" icon="pi pi-close"
            (click)="this.persistEntity()" [label]="(this.data.id > 0) ? 'Atualizar' : 'Inserir'"></button>
        <button pButton pRipple type="button" class="p-button-outlined p-button-danger" icon="pi pi-close"
            (click)="this.cancelPersist()" label="Cancelar"></button>
    </div>
</div>