mat-nav-list, h2, a{
    color: #fff !important;
}

mat-divider{
    background-color: #fff !important;
}

.menu-header {    
    width: 100%;
}

.menu-header mat-icon {
    padding-right: 10px;
}

.menu-header-user {    
    text-align: center;
}

.menu-header-user img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    align-items: center;
}